<div class="room-list-container">
  <div class="create-room">
    <button (click)="roomModal.show()">+</button>
  </div>
  <div class="table-wrapper">
    <div class="head-row">
      <div class="cell">Name</div>
      <div class="cell">Owner</div>
      <div class="cell">isFull</div>
    </div>
    <div #roomRef *ngFor="let room of rooms;" (click)="selectRoom(roomRef, room)" [ngClass]="{'selected': selectedRoom === room}" class="row">
      <div class="cell">{{room.name}}</div>
      <div class="cell">{{room.owner.nickname}}</div>
      <div class="cell">{{room.isFull}}</div>
    </div>
  </div>
  <div class="button-container">
    <button (click)="back()">Back</button>
    <button (click)="joinRoom()">Join</button>
  </div>
</div>

<div bsModal #roomModal="bs-modal" class="modal fade" tabindex="0" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"
(onShow)="createRoomModal=true"
(onHidden)="createRoomModal=false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Create your own room
        </h4>
      </div>
      <div class="modal-body">
        <div id="myTabContent1" class="tab-content">
          <div class="tab-pane fade in active" id="lookup1">
            <br>
            <form [formGroup]="createForm" (ngSubmit)="createRoom()" class="form-inline">
              <div class="name">
                <input formControlName="name" type="text" placeholder="Name" style="width: 100%; margin-bottom: 1em;" />
              </div>
              <div class="form-check form-check-inline">
                <input [value]="ROOM_TYPES.PUBLIC" [formControl]="createForm.controls.type" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="public">
                <label class="form-check-label" for="inlineRadio1">public</label>
                <input [value]="ROOM_TYPES.PRIVATE" [formControl]="createForm.controls.type" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="private">
                <label class="form-check-label" for="inlineRadio2">private</label>
              </div>
              <div class="button-container">
                <button type="button" class="unset btn btn-danger" (click)="roomModal.hide()">Cancel</button>
                <button type="submit" class="unset btn btn-success" (click)="roomModal.hide()">OK</button>
              </div>
            </form>
            <br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>