<div class="room-list-container">
  <div class="create-room">
    <button>+</button>
  </div>
  <div class="table-wrapper">
    <div class="head-row">
      <div class="cell">Name</div>
      <div class="cell">Owner</div>
      <div class="cell">isFull</div>
    </div>
    <div class="row selected">
      <div class="cell">Samplename</div>
      <div class="cell">SampleUser</div>
      <div class="cell">Yes</div>
    </div>
    <div class="row">
      <div class="cell">SampleRoomName</div>
      <div class="cell">SampleUser</div>
      <div class="cell">Yes</div>
    </div>
    <div class="row">
      <div class="cell">Samplename</div>
      <div class="cell">SampleUser</div>
      <div class="cell">Yes</div>
    </div>
  </div>
  <div class="button-container">
    <button (click)="back()">Back</button>
    <button (click)="joinRoom()">Join</button>
  </div>
</div>