<div class="board-container">
  <div class="game">
    <div class="game-board">
      <div>
        <div class="board-row" *ngFor="let i of createRange(3); index as _i" [attr.data-index]="_i">
          <div class="square" *ngFor="let j of createRange(3); index as _j" [attr.data-index]="3*_i + _j" (click)="renderMove(3*_i + _j)">{{state.current[3*_i + _j]}}</div>
        </div>
      </div>
    </div>
    <div class="game-info">
      <div class="status"></div>
      <div class="who">Your turn</div>
    </div>
  </div>
</div>