<div class="container">
  <div class="room-container">
    <div class="header-buttons">
      <button class="start" (click)="startGame()">START</button>
      <button class="invite-link" (click)="getInviteLink()">Copy Invite Link To Clipboard</button>
    </div>
    <div *ngIf="owner" class="room-mates">
      <div class="room-mate">
        <div class="username">{{owner.nickname}}</div>
        <div class="stats">{{owner.stats.win}}/{{owner.stats.lost}}</div>
        <div class="user-char">X</div>
      </div>
      <div class="divider"></div>
      <div *ngIf="guest" class="room-mate">
        <div class="username">{{guest.nickname}}</div>
        <div class="stats">{{guest.stat.win}}/{{guest.stat.lost}}</div>
        <div class="user-char">O</div>
      </div>
    </div>
    <div class="leave">
      <button (click)="leave()">LEAVE</button>
    </div>
  </div>
</div>