<div class="menu-container" *ngIf="!roomListEnabled && !statsListEnabled">
  <div class="menu-list">
    <div class="room-button">
      <button (click)="showRoomList()">Rooms</button>
    </div>
    <div class="stats-button">
      <button (click)="showStatsList()">Stats</button>
    </div>
  </div>
</div>

<room-list-component *ngIf="roomListEnabled" (onBack)="onBack()" (onJoin)="showRoom.emit($event)" (onCreate)="showRoom.emit($event)"></room-list-component>
<stats-list-component *ngIf="statsListEnabled" (onBack)="onBack()"></stats-list-component>
