<div class="stats-list-container">
  <div class="table-wrapper">
    <div class="head-row">
      <div class="cell">Position</div>
      <div class="cell">Nickname</div>
      <div class="cell">Win/Lost</div>
    </div>
    <div *ngFor="let stat of stats; index as i;" class="row">
      <div class="cell">{{i}}</div>
      <div class="cell">{{stat.user.nickname}}</div>
      <div class="cell">{{stat.win}}/{{stat.lose}}</div>
    </div>
  </div>
  <div class="button-container">
    <button (click)="back()">Back</button>
  </div>
</div>