<div class="landing-container">
  <div class="logo"></div>
  <div class="form-container">
    <form class="login-form">
      <input type="text" placeholder="Email"/>
      <input type="password" placeholder="Password"/>
      <button type="submit">Log in</button>
    </form>
    <form class="register-form">
      <input type="text" placeholder="Email"/>
      <input type="text" placeholder="Nickname"/>
      <input type="password" placeholder="Password"/>
      <button type="submit">Register</button>
    </form>
  </div>
</div>