<div class="landing-container">
  <div class="logo">
    <img />
  </div>
  <div class="form-container">
    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="login()">
      <input formControlName="email" type="text" placeholder="Email"/>
      <input formControlName="password" type="password" placeholder="Password"/>
      <button type="submit">Log in</button>
    </form>
    <form [formGroup]="registerForm" class="register-form" (ngSubmit)="register()">
      <input formControlName="email" type="text" placeholder="Email"/>
      <input formControlName="nickname" type="text" placeholder="Nickname"/>
      <input formControlName="password" type="password" placeholder="Password"/>
      <button type="submit">Register</button>
    </form>
  </div>
</div>